.navbar {
  display: flex;
  flex-direction: column;
  flex: 0.25;
}

.appTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.appTitle a {
  text-decoration: none;
}

.titleIcon {
  display: flex;
  justify-content: space-between;
}

.headers {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleHeader {
  font-size: 20px;
  color: var(--textcolor);
  font-weight: 600;
  text-transform: uppercase;
}

.subtitle {
  font-size: 16px;
  color: var(--textcolor);
  text-transform: uppercase;
}

.navbar header {
  display: flex;
  justify-content: space-between;
  padding: 16px 0 16px 16px;
}

.navbar header img {
  width: 45px;
  height: 45px;
  margin-right: 16px;
}

.copyrightIcon img {
  width: 20px !important;
  height: 20px !important;
  margin-right: 0 !important;
}

.selectedRoute {
  box-shadow: var(--boxshadowcolor);
  background-image: var(--backgroundimagegradient);
  color: white !important;
  border-radius: 0px 100px 100px 0px;
}

.routes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 0;
}

.routes a {
  display: flex;
  align-items: center;
  padding: 12px;
  color: var(--textcolor);
  font-size: 18px;
  text-decoration: none;
}

.routes img {
  width: 35px;
  height: 35px;
  margin-right: 12px;
}

.transactions {
  padding: 16px;
  border-radius: 6px;
  background: var(--divbackgound);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.transactionHistory {
  display: "flex";
  height: 100%;
  width: 100%;
}

.title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 16px;
  display: flex;
  width: 100%;
}

.eachTransaction {
  border: 1px solid var(--textcolor);
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 6px;
}

.transactionData {
  margin-bottom: 8px;
  display: flex;
}

.transactionData:last-child {
  margin-bottom: 0px;
}

.transactionData span,
.transferData span {
  padding-left: 8px;
  width: 75%;
  padding: 12px;
}

.transactionData strong,
.transferData strong {
  width: 25%;
  border-radius: 0px 100px 100px 0px;
  padding: 12px;
}

.addresses {
  padding: 16px;
  border-radius: 6px;
  background: var(--divbackgound);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nodeAddresses {
  padding: 16px;
  border: 1px solid var(--textcolor);
  border-radius: 6px;
}

.addressLink {
  margin-bottom: 16px;
  background-color: var(--databackgroundgradient);
  border-radius: 0px 100px 100px 0px;
  padding: 12px;
  cursor: pointer;
}

.addressLink a {
  color: var(--textcolor);
  text-decoration: none;
}

.transfer {
  padding: 16px;
  border-radius: 6px;
  background: var(--divbackgound);
  width: 100%;
}

.transferWindow {
  padding: 16px;
  border: 1px solid var(--textcolor);
  border-radius: 6px;
  margin-bottom: 8px;
}

.transferWindow span {
  padding-left: 8px;
}

.submit {
  width : 100%;
  display : flex;
  justify-content : center;
}

.submitTransfer {
  background: var(--themecolor);
  border-radius: 6px;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  border: none;
  padding: 8px 32px;
  cursor: pointer;
  width : 250px;
}

.transferData {
  display: flex;
  margin-bottom: 8px;
  flex-direction: column;
  margin : 20px 0;
}

.inputs{
  display : flex;
  margin : 0 160px;
  align-items : center;
}

input {
  height: 30px;
  background: var(--divbackgound);
  border: 1px solid var(--textcolor);
  border-radius: 6px;
  width: 230px;
  padding: 0 16px 0 8px;
  color: var(--textcolor);
  margin-right: 16px;
}

.transferReceipt {
  padding: 16px;
  border: 1px solid var(--textcolor);
  border-radius: 6px;
  min-height: 350px;
  height: 100%;
}

.transferReceipt .loader {
  min-height: 250px;
}

.wallet {
  padding: 16px;
  border-radius: 6px;
  background: var(--divbackgound);
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.walletWindow {
  padding: 16px;
  border: 1px solid var(--textcolor);
  border-radius: 6px;
}

.walletWindow span {
  padding-left: 8px;
}

.loader {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.loader img {
  height: 80px;
  width: 80px;
  animation: lightson 0.75s ease 4 forwards;
}

@keyframes lightson {
  0% {
    opacity: 0;
    /* text-shadow: 0px 0px 0px #fe1dad, 0px 0px 0px #fe1dad, 0px 0px 0px #fe1dad;
    box-shadow: 0px 0px 0px 0px #fe1dad, 0px 0px 0px 0px #fe1dad; */
    /* 0px 0px 0px 0px #fe1dad, inset 0px 0px 0px #fe1dad; */
  }
  20% {
    opacity: 0.5;
    /* text-shadow: 0px 0px 2.5px #fe1dad, 0px 0px 5px #fe1dad,
      1px 1px 25px #fe1dad;
    box-shadow: 0px 0px 5px 0px #fe1dad, 0px 0px 10px 0px #fe1dad,
      0px 0px 50px 0px #fe1dad, inset 0px 0px 20px #fe1dad; */
  }
  40% {
    opacity: 1;
    /* text-shadow: 0px 0px 1px #fe1dad, 0px 0px 2px #fe1dad, 0px 0px 10px #fe1dad;
    box-shadow: 0px 0px 2px 0px #fe1dad, 0px 0px 5px 0px #fe1dad,
      0px 0px 25px 0px #fe1dad, inset 0px 0px 10px #fe1dad; */
  }
  50% {
    opacity: 0.5;
    /* text-shadow: 0px 0px 5px #fe1dad, 0px 0px 10px #fe1dad, 1px 1px 50px #fe1dad;
    box-shadow: 0px 0px 10px 0px #fe1dad, 0px 0px 20px 0px #fe1dad,
      0px 0px 100px 0px #fe1dad, inset 0px 0px 30px #fe1dad; */
  }
  100% {
    opacity: 1;
    /* text-shadow: 0px 0px 5px #fe1dad, 0px 0px 10px #fe1dad, 1px 1px 50px #fe1dad;
    box-shadow: 0px 0px 10px 0px #fe1dad, 0px 0px 30px 0px #fe1dad,
      0px 0px 100px 0px #fe1dad, inset 0px 0px 30px #fe1dad; */
  }
}

.rccs__expiry{
  display : none!important
}


.noCards{
  display : flex;
  justify-content : center;
  align-items : center;
  margin : 0 auto;
  height : 100%;
  font-size : 24px;
  font-weight : 700;
}

.allCards{
  display : flex;
  flex-wrap: wrap;
}

.eachCard{
  margin : 40px 80px;
}

.balance{
  margin : 20px 0;
  font-weight : 700;
  font-size : 16;
  display : flex;
  margin-left : 6px;
}

.balance storng{
  margin-right : 6px;
}

.balanceLabel{
  margin-right : 20px;
}

.rccs__card {
  height: 182.873px;
  margin-top: 10;
  margin-bottom: 10;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  width: 290px;
}

.rccs__card--unknown > div {
  background-image: url("./../images/cardbg.jpeg");
}

.transferCard{
  height : 100%;
}

.redeem{
  margin-top : 24px;
}